.flex-box {
  display: flex;
}

.left {
  width: 50%;
}
.big-img {
  width: 250px;
}

.big-img {
  width: inherit;
}

.images {
  display: flex;
  justify-content: space-between;
  width: 65%;
}

.small-img {
  width: 50px;
  margin: auto;
  padding: 17px;
  padding-top: 35px;
  padding-bottom: 31px;
}

.small-img {
  width: inherit;
  cursor: pointer;
}
.small-img:hover img {
  transform: scale(1.2);
}

.juduldetail {
  font-size: 20px;
  font-family: "Poppins", sans-serif;
}

.juduldetail {
  font-weight: 700;
  color: #eab8c0;
  padding-top: 10px;
  padding-bottom: 16px;
  padding-left: 9px;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 644px;
  background-color: #eab8c0;
  height: 2px;
}

.ket {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  padding-top: 26px;
}
