.register-box {
  width: 700px;
  height: 800px;
  margin: auto;
  padding-bottom: 100px;
  background-color: #fafafa;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 0px rgb(182, 180, 180);
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

form {
  width: 550px;
  margin: auto;
  font-size: 16px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
}

input[type="checkbox"] {
  appearance: none;
  padding: 10px;
  height: 30px;
  width: 30px;
  background-color: #f0f2f3;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox-label {
  color: #1c2331;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 30px;
  cursor: pointer;
}

input[type="checkbox"]:after {
  font-weight: 20px;
  content: "✔";
  font-size: 25px;
  color: #fafafa;
  display: none;
}

input[type="checkbox"]:hover {
  background-color: #dcdcdc;
}

input[type="checkbox"]:checked {
  background-color: #eab8c0;
}

input[type="checkbox"]:checked::after {
  display: block;
}

form input {
  width: 100%;
  height: 45px;
  padding: 10px;
  border: none;
  border-radius: 8px;
  outline: none;
  background-color: #f0f2f3;
}

input[type="button"] {
  width: 500px;
  height: 50px;
  margin-top: 50px;
  margin-left: 25px;
  border: none;
  background-color: #eab8c0;
  color: #fafafa;
  font-size: 18;
}

p {
  text-align: center;
  padding-top: 20;
  font-size: 14px;
}

pirim-2 {
  text-align: center;
  color: #1c2331;
  font-size: 14;
  font-family: "Poppins", sans-serif;
  padding-top: 10px;
}
